@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    background-color: #0d0c0d;
    /* background-color: #111; */
    /* #202020 */
    /* background-image: url("./assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    font-family: "Roboto Serif", serif;
    /* font-family: "Roboto", sans-serif; */
  }

  a {
    @apply outline-none;
  }

  html {
    @apply scroll-smooth;
  }
  nav {
    font-family: "Roboto Serif", serif;
  }

  section {
    @apply mx-auto min-h-screen w-11/12 max-w-5xl pt-24 text-white md:w-4/5 md:pt-52;
  }

  input,
  textarea {
    @apply w-full border-b-[1px] border-gray-600 bg-lightBlack py-2 placeholder:text-lightGray focus:outline-none;
  }
}
