@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    background-color: #0d0c0d;
    /* background-color: #111; */
    /* #202020 */
    /* background-image: url("./assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    font-family: "Roboto Serif", serif;
    /* font-family: "Roboto", sans-serif; */
  }

  a {
    @apply outline-none;
  }

  html {
    @apply scroll-smooth;
  }
  nav {
    font-family: "Roboto Serif", serif;
  }

  section {
    @apply pt-28 text-white;
  }

  li {
    /* font-family: "Playfair Display", serif; */
    /* font-family: "Poppins" sans-serif; */
  }
}
